$bg-color = #eee
.app-header
  background-color white
  position fixed
  top 0
.app-menu
  background-color white
  position fixed
  .app-menu-item-actived
    color #409EFF
.app-tabs
  position fixed
.app-container
  height 100vh
  .app-tabs,.app-content,.app-footer
    background-color white